---

---

<header class="header">
    <div class="header-container">
        <div class="header-brand">◆ Maelle</div>
        <nav class="header-nav">
            <a href="#" class="header-nav-link">Home</a>
            <a href="#" class="header-nav-link">Info</a>
            <a href="#" class="header-nav-link">Work</a>
            <a href="#" class="header-nav-link">Contact</a>
        </nav>
        <div class="header-actions">
            <span class="header-time">8 nov, 10:12 p. m.</span>
            <button class="header-button"> Book a Call </button>
        </div>
    </div>
</header>
